# Large data files (too big for GitHub)
data/mo-zipcodes.geojson

# System files
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store

# Editor files
*.swp
*.swo
*~

# Logs
*.log

# Temporary files
*.tmp
